*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-header{   
    background-color: antiquewhite;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2em;
    font-style: oblique;   
    width: 43%;
}

nav{
    width: 57%;
}

nav > a{  
    margin: 10px;
    padding: 3px;
    font-size: medium;
    border: 1px solid black;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(27, 27, 27);
    transition: background-color 500ms;
}

nav > a:hover{
    background-color: beige;
    color: black;
}

#A1{
    background-color: yellowgreen;
}

figure{
    width: 100%;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
}

figure > img{
    width: 100%;
    height: 500px;
    transition: 2s;
}

figure > img:hover{
    transform: translateY(-50%);
}

main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

main > h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
}

.container{
    display: flex;
    flex-direction: row;
    text-align: justify;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container > img{
    width: 15%;
}

form{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: antiquewhite;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
}

fieldset{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    border: 0;
    margin: 15px 60px;
}

fieldset>div{
    display: inline-block;   
    width: 50%; 
}

input{
   border-radius: 5px;
}

legend{
    margin-bottom: 15px;
    font-weight: bold;
    text-decoration: underline;
}

form h4,p{
    margin: 15px 60px;
}

#logo:hover{
    margin-left: 200px;
    margin-bottom: 600px;
    transform: scale(2);
    transition: 2s;
}

#hockey1:hover{
    transform: translate(-500px);
    transition: 2s;
}

.container1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 30px;
}

.container1 > div{
    display: flex;
}

.seccion{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    text-align: justify;
}

.seccion article{
    margin-top: 20px;
}

.seccion p, li{
    margin-top: 20px;
}

#lista{
    list-style-type: lower-latin;
}

table{
    border: 2px double black;
    margin: 5vh 5vw;
    background-color: antiquewhite;
}

#enviar{
    height: 30px;
    font-size: large;
    background-color: beige;
    transition: background-color 500ms;
}

#enviar:hover{
    background-color: black;
    color: white ;
}

.frame{
    display: flex;
    justify-content: center;
}

iframe{
    width: 50vw; 
    height:50vh; 
}

footer{   
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    font-style: oblique;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
}

@media only screen and (max-width:1120px){
    .container-header{
        flex-direction: column;
            }
    h1{  
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    
    nav{
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    figure{
        height: 75px;
    }

    fieldset{
        flex-wrap: wrap;
    }
    
    .container1{
        justify-content: center;
    }

}
@media only screen and (max-width:624px){
    nav{
        display: flex;
        flex-direction: column;
    }

    figure{
         display: none;
    }

    .container{
        flex-direction: column;
    }

    fieldset>div{
        display: block;   
    }

    .container1{
        justify-content: center;
    }
} 